*{
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
}

html{
    z-index: 1;
    background-color: #051220;
}

body{
    z-index: 2;
    margin: 0;
    padding: 0;
    min-width: 1280px;
    height: 100%;
}