<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NovaTech Solutions</title>
</head>

<body>

    <h2>Inicio</h2>

    <div>

        <ul>

            <li><a href="/pacientes"><button>Ver pacientes</button></a></li>
            <li><a href="/turnos/register"><button>Registrar paciente</button></a></li>
        </ul>
        
        <ul>
            <li><a href="/turnos"><button>Ver Turnos</button></a></li>
            <li><a href="/turnos/new"><button>Registrar Turno</button></a></li>
        </ul>
    </div>



    <script src=""></script>
</body>

</html>