<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Turnos</title>
</head>

<body>

    <h2>Registrar nuevo paciente</h2>

    <div>
        <form id="formPaciente">
            <input type="email" name="email" id="email" placeholder="Correo electronico..." required>
            <input type="text" name="name" id="name" placeholder="Nombre del paciente..." required>
            <button type="submit">Ingresar paciente</button>
        </form>
    </div>

    <div id="mensaje"></div>

    <script>
        document.getElementById('formPaciente').addEventListener('submit', async function (e) {
            e.preventDefault();

            const nombre = document.getElementById('name').value;
            const email = document.getElementById("email").value;

            try {
                const response = await fetch('/api/v1/pacientes/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ nombre, email }) // Ajustá a la clave que espera tu backend
                });

                const data = await response.json();

                if (response.ok) {
                    document.getElementById('mensaje').innerText = 'Paciente registrado correctamente.';
                } else {
                    document.getElementById('mensaje').innerText = `Error: ${data.mensaje || 'No se pudo registrar'}`;
                }

            } catch (error) {
                document.getElementById('mensaje').innerText = `Error al conectar con el servidor: ${error.message}`;
            }
        });
    </script>

</body>

</html>