
/* RESPONSIVE */
@media (max-width: 768px) {
  .main-slider h2 {
    font-size: 2rem;
  }

  .main-slider strong {
    font-size: 1.1rem;
  }

  .main-presentation div,
  .sections .s1 {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }

  button {
    min-width: 100%;
  }
}


