<%- include('components/head') %>
    <div class="container">
        <ul>

            <li>
                <a href="/pacientes">
                    <button>
                        <img src="./public/images/paciente.png" alt="paciente" />
                        Ver pacientes
                    </button>
                </a>
            </li>

            <li>
                <a href="/pacientes/register">
                    <button>
                        <img src="./public/images/registro_paciente.png" alt="paciente" />
                        Registrar pacientes
                    </button>
                </a>
            </li>
            <li>
                <a href="/turnos/">

                    <button>
                        <img src="./public/images/turno.png" alt="turnos" />
                        Ver Turnos
                    </button>
                </a>

            <li>
                <a href="/turnos/new">
                    <button>
                        <img src="./public/images/registro_turno.png" alt="turnos" />
                        Registrar turnos
                    </button>
                </a>
            </li>
        </ul>
    </div>



    <script src=""></script>
    <%- include('components/footer') %>