<%- include('components/head') %>

    <!-- sub barra de navegacion-->
    <div class="subnav">
        <ul>
            <li>Inicio > Pacientes > Ver Pacientes</li>
            <li><a href="/pacientes/register"><button>Nuevo paciente</button></a></li>
        </ul>
    </div>

    <div class="title">
        <h2>Menu de Pacientes</h2>
    </div>


    <!-- menu de pacientes -->
    <div class="pacientes"></div>

    <script type="text/javascript" src="/public/js/pacientes.js"></script>

<%- include('components/footer') %>