<%- include('components/head') %>

    <body>

        <div class="container">
            <h2>Editar paciente</h2>

            <div class="sub-container">
                <form id="formPaciente" class="flex">
                    <input type="email" name="email" id="email" placeholder="Correo electronico..." class="s_input"
                        required>
                    <input type="text" name="name" id="name" placeholder="Nombre del paciente..." class="s_input"
                        required>
                    <button type="submit">Actualizar paciente</button>
                </form>
            </div>

            <div id="mensaje"></div>

        </div>


        <script type="text/javascript" src="/public/js/pacientes_editar.js"></script>




        <%- include('components/footer') %>