<%- include('components/head') %>

    <!-- sub barra de navegacion-->
    <div class="subnav">
        <ul>
            <li>Inicio > Turnos > Ver turnos</li>
            <li><a href="/pacientes/new"><button>Nuevo turno</button></a></li>
        </ul>
    </div>

    <!-- titulo -->
    <div class="title">
        <h2>Menu de Turnos</h2>
    </div>


    <!-- menu de turnos -->
    <div class="pacientes">

        <form id="formBuscarTurnos">
            <input type="text" id="pacienteId" placeholder="ID del paciente" class="s_input" required>
            <button type="submit">Buscar turnos</button>
        </form>

        <div id="resultado"></div>
    </div>

    <script type="text/javascript" src="/public/js/turnos.js"></script>
    <%- include('components/footer') %>